/* ------ HEADER ------ */
.logo_img {
    width: 100%;
    max-width: 150px;
}

.do_navbar .navbar-toggle .icon-bar {
    background-color: #2285fd;
}

/* ------ HERO SECTION ------ */




/* ------ 2^ SECTION - TRUST ------ */



/* ------ 3^ SECTION - DEPLOY ------ */



/* ------ 4^ SECTION - FOR ------ */



/* ------ 5^ SECTION - FEATURES ------ */



/* ------ 6^ SECTION - TEST SPEED ------ */



/* ------ 7^ SECTION - LOVE ------ */



/* ------ 8^ SECTION - START ------ */





/* ------ COMMON CLASSES ------ */




/* ------ UTILITY CLASSES ------ */