/* -------------------- 
    COMMON CLASSES 
-------------------- */

body {
    color: #5c6a88;
}

section,
footer {
    padding: 50px 0;
}

/* margine 30px delle .col- */
.box {
    margin: 15px 0;
}

.title_block {
    margin-bottom: 40px;
}

/* COLORI e formattazione testi */
h1 {
    font-size: 42px;
}
h6 {
    font-size: 16px;
    text-transform: uppercase;
}
small {
    font-weight: 500;
}
p.lead {
    font-weight: 400;
}

h2, h3, h4, small {
    color: #031c4e;
}
.text_lightgray {
    color: #bbcdff; /* testi grigetti su sfondo scuro/colorato */
}
.text_dark {
    color: #031c4e; /* per titoli */
}
.text_blue {
    color: #2285fd; /* links, pulsanti, evidenziazioni */
}
.text_white {
    color: white;
}
.text_darkgray {
    color:  #7a859d; /* testo più scuro nel footer */
}

/* PULSANTI del sito */
.btn {
    font-weight: 500;
    position: relative;
}

.btn_outline {
    background-color: white;
    border: 1px solid #2285fd; 
    color: #2285fd;
}
.btn_outline:hover {
    background-color: #2285fd;
    color: white;
}

.btn_white {
    background-color: white;
    color: #2285fd;
}
.btn_white:hover {
    background-color: #2285fd; 
    color: white;
}

.btn-link {
    color: #031c4e;
    font-size: 13px;

    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-link:hover {
    color: #2285fd;
    box-shadow: none;
}

.btn_blue_form {
    color: white;
    background-color: #579aff;
    border-color: #579aff;
}
.btn_blue_form:hover {
    color: white;
}
.btn_white_form {
    color: #5c6a88;
    background-color: white;
}
.btn_shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.shadow:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

/* logo inserito sul pulsante - form */
.icon_btn {
    height: 25px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* LINKS */

/* links su sfondo chiaro */
a {
    color: #2285fd;
}
a:hover {
    color: #031c4e;
}

/* links su sfondo scuro */
a.link_light {
    color: #00d6d2;
}

[class*="fa-chevron"] {
    margin-left: 10px;
    vertical-align: middle;
}

.link_arrow {
    position: relative;
}
.link_box:hover .link_arrow {
    animation-name: slide;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: 10px;
    }
}


/* Background colori */
.bg_gray {
    background-color: #f3f5f9;
}
.bg_blue {
    background: linear-gradient(16deg, rgba(0,31,154,1) 0%, rgba(1,70,197,1) 100%);
}

/* SLIDER */
.slider_block {
    width: 100%;
    margin-top: 100px;
}
.slider_block>span {
    display: inline-block;
}
.slider_block .slide {
    width: 80%;
    margin: 0 20px;

    vertical-align: middle;
}
.slide_img {
    margin-bottom: 20px;
}

.slider_arrow {
    font-size: 56px;
    cursor: pointer;
}

.next_arrow:hover {
    color: #5c6a88;
}
.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #2285fd;
    border-radius: 50%;
    
    margin-right: 8px;
    cursor: pointer;
}
.selected_circle,
.circle:hover {
    background-color: #2285fd;
}


.select_slide {
    margin-top: 50px;
}

/* ZOOM effect */
.zoom {
    transition: .2s;
}
.zoom:hover {
    transform: scale(1.1);
}

/* ------------- 
    HEADER NAV 
--------------- */
.do_navbar {
    margin-bottom: 0;
    border: none;
}

.navbar_header {
    margin-left: -15px; /* allineamento margine sx logo su XS */
}

.logo_img {
    width: 100%;
    max-width: 150px;
}

.do_navbar ul li,
.do_navbar ul {
    display: inline-block;
    margin-bottom: 0;
}

.do_right_nav {
    text-align: right;
}

.do_navbar .navbar-toggle {
    margin-right: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.do_navbar ul li a {
    font-size: 13px;
    font-weight: 500;

    color: #031c4e;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: inline-block;
}

.do_navbar ul li a:hover {
    background-color: rgba(34, 133, 253, .2);
    text-decoration: none;
}

/* hamb menu */
.do_navbar .navbar-toggle .icon-bar {
    width: 30px;
    background-color: #2285fd;
}
.do_navbar .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}

/* DROPDOWN Menu con HOVER */
.do_navbar .do_navs .dropdown-menu li {
    display: block;
}

.dropdown_box {
    position: relative;
}

.do_navbar .dropdown-menu {
    display: none;

    margin: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
}
.dropdown_box:hover .dropdown-menu {
    display: block;
}

.do_navbar .do_navs .dropdown_box a {
    width: 100%;
}

/* ---------------
    HERO SECTION 
 ---------------- */
#hero {
    background-image: url(../img/bg-banner-home.jpg);
}

#hero .panel {
    margin-bottom: 0;
}

/* -----------------------
    2^ SECTION - TRUST 
 -----------------------*/
.trust_box {
    margin-bottom: 20px;
}

.trust_box .logo_box {
    width: 45%;
    max-height: 150px;
    padding: 0 15px;
    display: inline-block;
}

.trust_logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

    transition: transform .2s;
}
.trust_logo:hover {
    transform: scale(1.1);
}

/* -----------------------
    3^ SECTION - DEPLOY 
 ---------------------- */
.deploy_list {
    /* padding-left: 20px; */
}

.deploy_list li {
    font-size: 16px;
    line-height: 46px;

    border-left: 1px solid #a2aabb;
    padding-left: 20px;
}

.deploy_list a {
    color: #5c6a88;
}
.deploy_list a:hover {
    color: #2285fd;
    text-decoration: none;
    font-weight: 500;
}

.deploy_list li:hover {
    border-left: 2px solid #2285fd;
}

/* ------------------------
    4^ SECTION - FOR 
 ----------------------- */

/* -------------------------
    5^ SECTION - FEATURES
 ------------------------ */

/* -------------------------
    6^ SECTION - TEST SPEED 
 ------------------------ */
table>tbody>tr:first-child>td {
    border-top: 0;
}

table>tbody>tr>td:last-child {
    text-align: right;
}

/* -------------------------
    7^ SECTION - LOVE
 ------------------------ */
.slide.slide_love {
    background-color: white;
    width: 400px;
    max-width: 80%;

    padding: 50px;

    display: inline-block;
}

.love_img_box {
    width: 100%;
    margin-bottom: 20px;
}
/* -------------------------
    8^ SECTION - START 
 ------------------------ */

/* -------------------------
    FOOTER 
 ------------------------ */

footer {
    background-color: #031d4e;
    color: #a2aabb;
}

footer .social_icon {
    font-size: 24px;
    margin-top: 40px;
}
footer .social_icon li{
    margin-right: 15px;
}

footer ul li {
    text-transform: capitalize;
    margin: 5px 0;
}
footer ul li a {
    color: #a2aabb;
}
footer ul li a:hover {
    color: #2285fd;
}
.do_logo {
    margin: 20px 0;
}

/* -------------------------
    POPUP FIXED ELEMENT 
 ------------------------ */
.pop_up {
    position: fixed;
    bottom: 30px;
    left: 20px;

    z-index: 10;
    margin-right: 20px;
    cursor: pointer;
}
.popup_img_box {
    width: 80px;
    height: 80px;
    border-radius: 10px;

    background-color: #006aff;

    position: relative;
    box-shadow: -5px 5px 5px rgba(48, 48, 48, .2);
}
.popup_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.do_badge {
    background-color: rgb(228, 77, 18);
    border: 2px solid white;
    border-radius: 50%;

    font-size: 14px;
    
    width: 25px;
    height: 25px;
    line-height: 14px;

    position: absolute;
    top: -5px;
    right: -5px;

    box-shadow: -5px 5px 5px rgba(48, 48, 48, .2);
}
.hover_me:hover .do_badge {
    display: none;
}

.popup_box {
    background-color: white;
    padding: 15px 10px;

    border-radius: 10px;
    position: relative;
    margin-top: 25px;

    box-shadow: -5px 5px 5px rgba(48, 48, 48, .2);
    display: none;
}
.hover_me:hover .popup_box {
    display: block;
}

.popup_box p {
    font-size: 16px;
}
.popup_sm_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;

    position: absolute;
    top: -10px;
    left: 30px;
}


/* ------ XS DEVICES - Smartphone - MEDIA QUERIES ------ */

@media all and (max-width: 768px) {
    .do_collapse{
        display: none;
    }

    .box {
        margin: 30px 0;
    }
}

/* ------ SM DEVICES - Tablet - MEDIA QUERIES ------ */

@media all and (min-width: 769px) {

    .do_collapse{
        display: none;
    }
    .do_collapsed {
        display: block;
    }

    /* HEADER */
    .navbar_header {
        margin-left: 0; /* allineamento margine sx logo */
    }

    /* 2^ section TRUST */
    .trust_box {
        margin-bottom: 0;
    }

    .trust_box .logo_box {
        width: 15%;
        max-height: 150px;
        padding: 0 5px;
        display: inline-block;
    }
}

/* ------ MD DEVICES - Desktop - MEDIA QUERIES ------ */

@media all and (min-width: 992px) {

    .do_collapse{
        display: block;
    }
    .do_collapsed {
        display: none;
    }

    /* TESTI */
    h1 {
        font-size: 56px;
    }

    /* HEADER NAV */
    .navbar_header {
        float: left;
    }

    /* POPUP */
    .pop_up {
        right: 20px;
    }
    .popup_img_box {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .popup_box {
        position: absolute;
        right: 100px;
        top: -100px;
    }

    .popup_md_triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #ffffff;

        position: absolute;
        right: -10px;
        bottom: 25px;
    }   
}